/* Tailwind의 기본 스타일 */
@tailwind base;
/* 커스텀 Tailwind 컴포넌트 */
@tailwind components;
/* Tailwind 유틸리티 클래스 */
@tailwind utilities;

/* 기본 body 스타일 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 코드 스타일 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
